.ParaAnalyse {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

.Head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    letter-spacing: .05rem;
    line-height: 1.5;
}

.titre1 , .titre2 {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

.zone {
    font-size: 1em;
    margin: .5em 0;
}

.Infos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: .25em 0;
}

.Infos b {
    font-weight: 600;
    text-decoration: underline;
    padding-right: .25rem;
}

.BonAnl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ParaAnalyse table {
    width: 100%;
}

.ParaAnalyse td, .ParaAnalyse th {
    padding: .5em;
    font-size: 1rem;
}

.ParaAnalyse td:last-child {
    border-right: none;
    text-align: center;
    font-weight: 600;
    padding: 0 .25em;
}

.ParaAnalyse th  {
    border-top: none;
    background-color: #3A4750;
    color: white;
    position: relative;
}

.ParaAnalyse th:last-child {
    border: none;
}

.ParaAnalyse tbody tr:nth-child(even) {
    background-color: rgba(58, 71, 80, 0.05);
}

.Total {
    display: grid;
    grid-template-columns: 88.5% 1fr;
    justify-content: space-between;
    width: 100%;
    border-top: 5px solid #3A4750;
    align-items: center;
    margin-top: auto;
}

.Total div{
    padding: .5em;
    font-size: 1.1em;
    font-weight: 700;
}

