.ArchivePage {
    margin: 0 1em;
    margin-top: 1em;
    text-align: center;
    overflow: auto;
}

.Buttons {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 2fr;
    justify-items: center;
}

.Buttons > div {
    display: flex;
    justify-content: space-between;
}


.Buttons button {
    padding: 0 1em;
    justify-content: center;
    cursor: pointer;
}

.DateFilter button {
    border: none;
    align-self: center;
    background: none;
    padding: 0;
    margin-left: .5em;
}

.DateFilter img {
    width: 2em;
}

.DateFilter input {
    color: #3A4750;
    font-weight: 700;
}

.DateFilter input:last-of-type {
    margin-left: 1em;
}

.TableWrapper {
    overflow: auto;
    height: 77.5vh;
    margin: 2em 0;
}

.ArchivePage table {
    width: 100%;
}

.ArchivePage td, .ArchivePage th {
    padding: .5em;
    font-size: 1.2rem;
}

.ArchivePage td:last-child {
    border-right: none;
}

.ArchivePage th  {
    border-top: none;
    background-color: #3A4750;
    color: white;
}

.ArchivePage th:last-child {
    border: none;
}

.ArchivePage tbody tr:nth-child(even) {
    background-color: rgba(58, 71, 80, 0.05);
}
