.Form {
    display: flex;
    flex-flow: column;
    width: 35vw;
    margin: 5rem;
}

.Form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.Form > div > * {
    margin: 1.2rem;
}

.Form > div > label{
    font-weight: 600;
    text-decoration: underline;
}
