.LargeBtn {
    background-color: #fff;
    width: 15rem;
    height: 8rem;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    color: #5B84B1;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.LargeBtn:hover {
    transform: scale(1.04,1.04);
}