.ButtonsGroup {
    background-color: #3A4750;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 5vw 12.5vh;
    border-radius: 5px;
}

.ButtonsGroup > a{
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    background-color: #3A4750;
    color: #F3F3F3;
    font-size: 1.375em;
    transition: background 200ms ease-in-out;
    font-weight: 700;
    width: 100%;
    padding: 2.5em 0;
    height: 100%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonsGroup span {
    height: 50%;
    background-color: #F3F3F3;
    width: 7px;
}

.ButtonsGroup > a:focus,
.ButtonsGroup > a:hover {
    background-color: #303841;
}