.AnalysePrint {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}

.DateBon {
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-size: 1.2em;
    padding: .25em 0;
    font-weight: 600;
}


.Separator {
    width: 0.1px;
    border-right: 3px dashed black;
}

.BonAnl {
    margin: 2em 0;
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.AnalysePrint table {
    width: 100%;
}

.AnalysePrint td, .AnalysePrint th {
    padding: .5em;
    font-size: 1em;
}

.AnalysePrint td:last-child {
    border-right: none;
    text-align: left;
    padding: 0 .25em;
}

.AnalysePrint th  {
    border-top: none;
    background-color: #3A4750;
    color: white;
    position: relative;
}

.AnalysePrint th:last-child {
    border: none;
}

.AnalysePrint tbody tr:nth-child(even) {
    background-color: rgba(58, 71, 80, 0.05);
}

.Total {
    display: grid;
    grid-template-columns: 77.5% 1fr;
    justify-content: space-between;
    width: 100%;
    border-top: 5px solid black;
    align-items: center;
    margin-top: auto;
}

.Total div{
    padding: .5em;
    font-size: 1em;
}

